/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}


body {
  background-color: #333;
  color: white;
}

$cell-size: 2rem;

#grid {
  width: $cell-size * 10;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, $cell-size);
  grid-template-rows: repeat(10, $cell-size);
  .cell {
    border: 1px solid white;
    position: relative;
    .tooltip {
      background: white;
      color: black;
      position: relative;
      right: -30px;
      top: -21px;
      z-index: 1000;
      display: block;
      padding: 2px 5px;
      height: 20px;
      width: auto;
      width: 60px;
      border-radius: 5px;
      text-align: center;
    }
  }
}

#chat {
  display: flex;
  margin: auto;
  width: 30rem;
  .main { width: 80% }
  .sidebar { flex: auto; }
  .chat-messages {
    height: 300px;
    overflow-y: scroll;
    background-color: #222;
    padding: 1rem;
  }
}

